*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: var(--ds-background-brand-bold-hovered, #026AA7);
    border-bottom: 1px solid var(--dynamic-text-color-transparent);
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    max-height: 44px;
    padding: 6px 4px;
}
nav img{
    width: 90px;
}
.nav-dropdown{
    background-color: #026AA7;
    border:none;
    color:white;
    font-size: 15px;
    margin-left:10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 3px;

}
.nav-dropdown:hover{
    background-color:#5D96BF ;
}
.nav-create-btn{
    background-color: #104972;
    border:none;
    color:white;
    font-size: 15px;
    margin-left:20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.nav-search{
    background-color: #4587B6;
    border: none;
    caret-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    float: end;
}
.nav-search:hover{
    background-color: #74A5C8;
}


.nav-search::placeholder{
    color:white;
}
.nav-search:focus{
    outline: none;
}
.main-layout-left{
    width: 240px;
    border-bottom: 1px solid #E1E1E2;
}
.left-items{
    width: 240px;
    height: 30px;
    /* background-color: #E5F0F6; */
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;

}
.left-items:hover{
    background-color: #E7E9ED;
}
.left-items span{
    margin-right: 10px;
}
.second-workspaces__title{
    width: 240px;
    display:flex;
    justify-content:space-between
}
.workspaces-title{
    font-size: 14px;
}
.main-layout-left__second{
    margin-top:20px;
}
.workspaces-name{
    width: 240px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
}
.workspace-items{
    font-size: 14px;
    color:#5C6A80;
    width: 240px;
    height: 30px;
    padding: auto;
    /* background-color: #A5A5A8; */
    line-height: 30px;
    padding-left: 30px;
    cursor: pointer;
    border-radius: 4px;
}
.workspace-items span{
    margin-right: 10px;
}
.workspace-items:hover{
    background-color: #E7E9ED;
}
.main-layout{
    display: flex;
}
.workspace-title{
    font-size: 17px;
    font-weight: 600;
    color:#5F6C83;
    
}
.workspace-selections{
    display: flex;
    margin-top: 30px;

   
}
.right-layout{
    width: 830px;
    margin-left: 50px;
}
.selections-items{
    height:30px;
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 300;
    padding:5px;
    background-color: #F0F2F5;
    border-radius: 4px;
    font-size: 14px;
}
.workspace-name{
    font-weight: 700;
}
.main-layout{
    margin-left: 85px;
    margin-top: 40px;
}
.display-boards{
    margin-top: 20px;
}

.boards-items{
    width: 195px;
    height: 95px;
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
    background: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg");
    margin: 5px;
    background-size: cover;
    font-weight: 700;
    color:white

}
.nav-create-btn{
    position: relative;
}
.create-board{
   position: absolute;
   z-index: 999;
}
.workspace-icon{
   
    color:white;
    background-color: #026AA7;
    
    padding-left: 12px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    margin-right: 5px;
}
.create-new-workspace{
    /* padding:5px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    border-radius: 4px;
    
}
.create-new-workspace:hover{
    background-color: #E7E9ED;

}
.no-border{
    border-bottom: none;
}
.create-workspace{
    background-image: url("addworkspaceBackground.png");
    background-size:contain;
    width: 1140px;
    height: 770px;
}
.modal-body-layout{
    margin-left:80px;
}
.create-header{
    font-size: 25px;
    font-weight: 700;
}
.create-content{
    font-size:22px;
    color:#6C778B 
}
.form-workspace-name{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
}
.form-workspace-name-input{
    width: 440px;
    height:40px;
    border: 2px solid #DFE1E6;
    border-radius: 4px;
    padding:5px;
}
.form-descriptions{
    color: #6C778B;
    font-size: 14px;
    font-weight: 600;
}
input:focus{
   outline-color:#1B78BC
}
textarea{
    border: 2px solid #DFE1E6;
    border-radius: 4px;
}
textarea:focus{
    outline-color:#1B78BC
 }
.form-create-submit-btn{
    width: 442px;
    height:40px;
    border: none;
    color:#A5ADB9;
    
    margin-top: 20px;

}
.form-create-submit-btn:hover{
    cursor: not-allowed;
}
.edit-btn{
    /* margin-left: 130px; */
    color:#5D6A7F; 
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
    border-radius: 4px;
    float: right;
    background-color: white;
}
.edit-btn:hover{
    background-color: #E7E9ED;
}
.edit-btn i{
    z-index: -999;
}
.workspace-loader{
    margin-top: 10px;
}






